<section class="p-d-flex p-flex-column p-jc-center p-ai-center">
	<!-- Show this message when an error ocurred -->
	<div *ngIf="!loading && !currencyData" class="p-card custom-card p-p-2">No hay datos disponibles</div>
	<!-- There are no errors -->
	<section class="p-d-flex p-jc-center p-ai-center">
		<div class="p-d-flex p-jc-center p-ai-center">
			<p-table [value]="history">
				<ng-template pTemplate="header" let-his>
					<tr>
						<td>Date</td>
						<td *ngFor="let bpi of his.bpi">{{bpi.code}}</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-his>
					<tr>
						<td>{{ his.time.updatedISO | date:'dd/MM/yyyy hh:mm a' }}</td>
						<td *ngFor="let bpi of his.bpi">{{bpi.rate_float}}</td>
					</tr>
				</ng-template>
			</p-table>
		</div>
		<div class="p-d-flex p-flex-column p-mt-4">
			<div class="p-card custom-card p-p-2 p-ml-2 p-mr-2">
				<p-chart *ngIf="currencyData" type="pie" [data]="chartData" height="250px" [options]="chartOptions"></p-chart>
			</div>
		</div>
	</section>
	<footer>
		<p class="p-ml-5 p-mr-5"><small [style]="{fontSize: '10px'}">{{ currencyData?.disclaimer }}</small></p>
	</footer>
</section>
